@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
   .bg-lime-500 {
      flex-direction: column;
      align-items: center;
    }
   .pb-0.pt-0.container-fluid.py-5 {
      width: 100%;
    }
   .text-center.sm:text-left.col-md-8.fs-4.py-5 {
      text-align: center;
      width: 100%;
    }
   .btn.btn-primary.btn-lg {
      width: 100%;
    }
  
    ul {
      flex-direction: row;
      justify-content: inherit;
    }
    li {
      margin: 0 10px;
    }
    button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
     svg {
      width: 30px;
      height: 30px;
    }
  }


  
